table {
  width: 100%
}

tr:hover {
  color: #000000;
  background-color: #CCCCCC;
}

tr:hover > .mat-cell {
  color: #000000;
}

tr.mat-header-row:hover {
  color: #FFFFFF;
  background-color: #666666;
}

.playbutton {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 150px;
  text-align: left;
}

mat-icon {
  position: fixed;
  top:0;
  left:0;
  z-index:10;
  padding: 10px;
  cursor: pointer;
}

